.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
button {
  padding: 0.75em 1.5em;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #922c2c;
  color: grey;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  background-color: rgb(203, 8, 37);
}
